{% load static %}
{% for doc_req, doc in docs.items %}
    {% if doc_req.clave == clave_documento %}
    <div class="documento-container">
        <div class="documento-header">
            <p class="documento-title">{{ doc_req.titulo }}</p>
            <div class="container-abri">
                <img src="{% static 'titulacion/images/abajo.png' %}" alt="Ícono" class="icon abrir">
            </div>
        </div>

        {% if doc %}
            {% if doc.estado == 'rechazado' %}
            <div class="rechazado-container">
                <p style="color: red; margin-bottom: 10px;"><strong>Rechazado por:</strong> {{ doc.notas }}</p>
                
                <div class="file-input-container" style="display: block;">
                    
                    <input type="file" id="archivo-{{ doc_req.clave }}" name="{{ doc_req.clave }}" accept=".pdf" required style="display: none;">

                    <label for="archivo-{{ doc_req.clave }}" class="custom-upload-area" id="uploadArea-{{ doc_req.clave }}">
                        <div class="upload-content" id="uploadContent-{{ doc_req.clave }}">
                            <i class="fas fa-cloud-upload-alt upload-icon"></i>
                            <div class="upload-text-container">
                                <p class="upload-text">Subir corrección</p> <p class="upload-hint">Arrastra o haz clic</p>
                            </div>
                        </div>

                        <div class="file-info" id="fileInfo-{{ doc_req.clave }}" style="display:none;">
                            <i class="fas fa-file-pdf file-icon"></i>
                            <div class="file-details">
                                <p class="file-name" id="fileName-{{ doc_req.clave }}"></p>
                                <p class="file-size" id="fileSize-{{ doc_req.clave }}"></p>
                            </div>
                            <button type="button" class="file-remove" id="fileRemove-{{ doc_req.clave }}">
                                <i class="fas fa-trash"></i>Eliminar
                            </button>
                        </div>
                    </label>
                </div>
            </div>
            
            {% else %}
                <a href="{{ doc.archivo.url }}" target="_blank" class="link">- {{ doc.archivo.name }}</a> ({{ doc.estado }})
            {% endif %}

        {% else %}
            <div class="file-input-container">
                <input type="file" id="archivo-{{ doc_req.clave }}" name="{{ doc_req.clave }}" accept=".pdf" required style="display: none;">

                <label for="archivo-{{ doc_req.clave }}" class="custom-upload-area" id="uploadArea-{{ doc_req.clave }}">
                    <div class="upload-content" id="uploadContent-{{ doc_req.clave }}">
                        <i class="fas fa-cloud-upload-alt upload-icon"></i>
                        <div class="upload-text-container">
                            <p class="upload-text">Arrastra tu archivo aquí</p>
                            <p class="upload-hint">o haz clic para seleccionar</p>
                        </div>
                    </div>

                    <div class="file-info" id="fileInfo-{{ doc_req.clave }}" style="display:none;"> 
                        <i class="fas fa-file-pdf file-icon"></i>
                        <div class="file-details">
                            <p class="file-name" id="fileName-{{ doc_req.clave }}"></p>
                            <p class="file-size" id="fileSize-{{ doc_req.clave }}"></p>
                        </div>
                        <button type="button" class="file-remove" id="fileRemove-{{ doc_req.clave }}">
                            <i class="fas fa-trash"></i>Eliminar
                        </button>
                    </div>
                </label>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}