 {% load static %}
 <div class="footer">
    <div class="footer-cont">
        <div class="contacto">  
            <ul class="contacto-items">
                <li><h2 class="contacto-titulo">Coordinación de Titulación</h2></li>
                <li><span class="contacto-info">Tel. 686-580-4949</span></li>
                <li><span class="contacto-info">Correo. ctitulación@itmexicali.edu.mx</span></li>
                <li><span class="contacto-info">Edifico. V</span></li>
            </ul>
              <ul class="contacto-items">
                <li><h2 class="contacto-titulo">Division de Servicios Estudiantiles</h2></li>
                <li><span class="contacto-info">Tel. 686-580-4919</span></li>
                <li><span class="contacto-info">Correo. serviciosestudiantiles@itmexicali.edu.mx</span></li>
                <li><span class="contacto-info">Edificio. V</span></li>
            </ul>
        </div>
        <div class="itm">
             <a class="navbar-brand" href="//mexicali.tecnm.mx">Instituto Tecnológico de Mexicali</a>
        </div>
    </div>
 </div>