/* #region menu */
.menu {
    width: 100%; 
    order: 0; 
}

.menu-titulo .progreso {
    font-weight: bold;
    font-size: 16px;
}

.flex-column .menu-titulo {
    border-bottom: 1px solid #E87A2B;
}
.flex-column .menu-item{
  border-bottom: 1px solid #BEBEBE;
}
.flex-column .menu-item:last-child {
  border-bottom: none;
}
  .flex-column .menu-box {
    height: 70px;
    transition: all 0.5s ease;
  }
.flex-column .menu-box p {
  width: 100%;            
  height: 100%;           
  display: flex;
  align-items: center;
  color: #333;           
}

.flex-column .menu-box .text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.flex-column .menu-box.active {
    background-color: #D9D9D9; /* 默认灰色背景 */
}

.flex-column .menu-box.active .text {
    font-weight: bold; /* 加粗文字 */
    color: #333; /* 深色文字 */
}

/* #endregion menu */